<div class="container border-primary mt-3 mb-4">
    <div class="row  text-center">
        <div class="col-12 col-sm-12 col-md-6 border border-warning bg-light ">
            
            <h3  class="mt-3 text-warning">Old Announcements</h1>
                <hr>
                <marquee scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" width="60%" direction="down"
                height="250px">
                <ol class="text-success justify-content-center">
                    <li> <a  href="">Android Webinar</a><span class="badge badge-warning m-2">New</span> </li>
                    <li> <a  href="">Android Webinar</a><span class="badge badge-warning m-2">New</span> </li>
                    <li> <a  href="">Android Webinar</a><span class="badge badge-warning m-2">New</span> </li>      
                </ol>

            </marquee>
        </div>

        <div class="col-12 col-sm-12 col-md-6 border border-primary bg-light">
            <h3 class="mt-3 text-info">New Announcements</h3>
            <hr>

            <marquee scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" width="60%" direction="down"
                height="250px">
                <ol class="text-success">
                    <li> <a  href="">Android Webinar</a><span class="badge badge-primary m-2">New</span> </li>
                    <li> <a  href="">Android Webinar</a><span class="badge badge-primary m-2">New</span> </li>
                    <li> <a  href="">Android Webinar</a><span class="badge badge-primary m-2">New</span> </li>
                    

                </ol>

            </marquee>
        </div>
    </div>
</div>