<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->
    <div class=" text-md-left text-center">
        <div class="footer-copyright text-center py-3 bg-light">© 2020 Copyright:
            <a  href="#">Hyderabad Student Developer Club</a>
          </div>

        ]

    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
  
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->