<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">HSDC</a>
        </div>


        <ul class="navbar navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Members</a></li>
            <li><a href="#">Membership</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>


    </div>

</nav>