<%- include('includes/head.ejs'); %>
<%- include('includes/navigation.ejs')%>
   <h1>Index Page is Working</h1>
   <button class="btn btn-primary">Submit</button>

   <%- include('includes/end.ejs'); %>
