*{
    padding: 0;
    margin: 0;
 
}
nav  {
    letter-spacing: 4px;
    font-family: 'Metal Mania', cursive;
}


.navbar { 
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;  
  }
  
  .affix {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;  
    -o-transition:padding 0.2s linear;         
    transition:padding 0.2s linear;  
  }
  
  section {
      min-height:calc(100% - 70px);
  }