*{
    padding: 0;
    margin: 0;
    /* font-family: 'Metal Mania', cursive; */
    font-family: 'Hind Madurai', sans-serif;

}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}



/* nav  {
    letter-spacing: 4px;
    
} */

.form-container{
    /* background:#fff; */
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
    /* box-shadow: 0 0 3px 0 #000; */

}




.navbar { 
    -webkit-transition:padding 0.2s ease;
    -moz-transition:padding 0.2s ease; 
    -o-transition:padding 0.2s ease;        
    transition:padding 0.2s ease;  
  }
  
  .affix {
    padding-top: 0.1em !important;
    padding-bottom: 0.1em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;  
    -o-transition:padding 0.2s linear;         
    transition:padding 0.2s linear;  
  }
  
  section {
      min-height:calc(100% - 70px);
  }

 



  
.required:after {
    content:" *";
    color: red;
}

/*for Form validation*/
label.remove_error_label{
   
    display:none;
}

label.add_error_label{
    color: #d9534f;
    font-family: 'Merriweather', serif;
    margin-top: 5px;
    
    font-size: 0.8rem;
    display: block;
}

.card:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important;
    transform: scale(1.1);
    transition: 0.5s;
}





/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: rgb(99, 112, 228);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: rgb(99, 112, 228);
} */