<%- include('../includes/head.ejs'); %>
<%- include('../includes/navigation.ejs')%>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Error 404! Page Not found!
                </h1>
            </div>
        </div>
        
    </div>
    



<%- include('../includes/footer.ejs'); %>
<%- include('../includes/end.ejs'); %>